* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark-blue: #023047;
  --color-light-blue: #8ecae6;
  --color-blue-buttons: #219ebc;
  --color-orange: #fb8500;
  --color-yellow: #ffb703;
}

.brandName {
  color: white;
}

.navbar {
  background-color: var(--color-dark-blue);
  color: white;
}

.nav-link {
  color: white;
}

.hero {
  border-radius: 1rem;
  background-color: #023047;
  width: 100vw;
  min-height: 500px;
}

@media (max-width: 576px) {
  .hero {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
