* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark-blue: #001545;
  --color-light-blue: #8ecae6;
  --color-blue-buttons: #219ebc;
  --color-orange: #fb8500;
  --color-yellow: #ffb703;
}

.btn-success {
  background-color: rgb(0, 185, 40) !important;
}
.btn-danger {
  background-color: red;
}

.search-btn {
  margin-top: 10px;
  width: 200px;
}

.brandName {
  color: white;
}

.navbar {
  background-color: var(--color-dark-blue);
  color: white;
}

.nav-link {
  color: white;
}

.hero {
  position: relative;
  border-radius: 1rem;
  background: linear-gradient(#001545, #300182, rgb(15, 0, 77));
  width: 100vw;
  min-height: 350px;
}

.customer-form {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  justify-content: center;
}

.customer-form input {
  width: 300px;
  height: 35px;
  border: none;
  outline: none;
  font-size: 13px;
  transition: all 1.5s;
}

.customer-form input:focus {
  transition: 0.5s;
  border-radius: 5px;
  font-style: italic;
}

.customer-form [type="text"] {
  border: none;
  border-bottom: 2px solid blue;
  padding-left: 10px;
}

.customer_id_input:disabled {
  border-bottom: 2px solid rgb(30, 255, 0) !important;
  color: white !important;
  opacity: 1 !important;
  background-color: rgb(16, 0, 59);
}

.crud-customer-btn-grp button {
  position: relative;
  font-size: 0.9rem;
  left: 13%;
  top: 32vh;
  width: 150px;
  border-radius: 5px !important;
}

.customer-table-section {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 30px;
  border-radius: 1rem;
  background: linear-gradient(#001545, #300182, rgb(15, 0, 77));
  overflow-y: scroll;
}

.customer-table-section .table {
  width: 85%;
  margin: auto;
  position: relative;
  top: 40px;
  color: white;
}

@media (max-width: 576px) {
  .hero {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
