.order-card {
  height: 50vh;
}

.find-customer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 200px;
}

.modal-header .close {
  font-size: 1.5rem;
  line-height: 1;
  color: black; /* or whatever your modal text color is */
}

.modal-header {
  background: linear-gradient(#dae4ff, #ffa0ec);
}

.order-detail-table {
  padding-top: 10px;
}
