* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  height: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  background-color: black;
  color: white;
  padding: 10px;
}
.nav-link {
  color: black !important;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.fa-user {
  display: inline-block;
  width: 40px;
  text-align: center;
}

.avatar {
  width: 45px;
  height: 45px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar i {
  font-size: 24px;
  color: #333;
}

.btn-pink {
  background-color: #ff4ddb;
  background: linear-gradient(#ff4ddb, #ff7be5);
  box-shadow: 0 4px 15px rgba(255, 77, 219, 0.6);
  color: white;
  width: 120px;
}

.btn-pink:hover {
  color: white;
}

.btn-outline-pink {
  border: 1px solid #ff4ddb;
  box-shadow: 0 4px 15px rgba(255, 77, 219, 0.6);
  width: 120px;
}

.btn-outline-pink:hover {
  background-color: #ff4ddb;
  color: white;
}

.sign-btn-grp {
  position: relative;
  right: 100px;
}
