<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>POS System</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <link rel="stylesheet" href="../assets/style/customerSection.css" />
    <link rel="stylesheet" href="../assets/style/orderSection.css" />
    <link rel="stylesheet" href="../assets/style/orderDetails.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Alatsi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- Navbar Start-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          data-mdb-collapse-init
          class="navbar-toggler"
          type="button"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <h2 class="navbar-brand mx-3 mt-2 mt-lg-0">ZEIDOT WEB</h2>
          <!-- <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
              src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
              height="15"
              alt="MDB Logo"
              loading="lazy"
            />
          </a> -->
          <!-- Left links -->
          <ul class="navbar-nav mx-auto gap-4 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link home_Clicked" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customer_Clicked" href="#">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link item_Clicked" href="#">Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link order_Clicked" href="#">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link order_Details_Clicked" href="#">Order Details</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <div class="d-flex gap-4 sign-btn-grp">
            <button class="btn btn-pink">Sign up</button>
            <button class="btn btn-outline-pink">Sign up</button>
          </div>
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar END -->
    <!-- Hero Section -->
    <section class="container homePage_Section">
      <main class="position-fixed floating-icons z-10">
        <div class="circle"></div>
        <div class="circle"></div>
      </main>
      <header class="text-center text-capitalize hero-section d-flex gap-2">
        <h1>Power Your Sales. Simplify Your Store</h1>
        <p class="d-inline-block">
          Your All-in-One POS System for Smarter Business Management
        </p>
        <div
          class="sign-btn-grp d-flex justify-content-center gap-4"
          style="right: 0"
        >
          <button class="btn btn-pink w-25">Start Here</button>
          <button class="btn btn-outline-pink w-25">Dashboard</button>
        </div>
        <section class="d-flex gap-5 analytics-grp">
          <div>
          <div class="card-io">
          <p class="time-text"><span>20</span><span class="time-sub-text"></span></p>
          <h2 class="day-text">Customers</h2>
          <i class="fa-solid fa-person moon"></i>
          </div>
          </div>
          <!-- 2 -->
          <div>
          <div class="card-io">
          <p class="time-text"><span>120</span><span class="time-sub-text"></span></p>
          <h2 class="day-text">Items Sold</h2>
          <i class="fa-solid fa-box moon"></i>
          </div>
          </div>
          <!-- 3 -->
          <div>
          <div class="card-io">
          <p class="time-text"><span>20</span><span class="time-sub-text"></span></p>
          <h2 class="day-text">Orders</h2>
          <i class="fa-solid fa-truck-front moon"></i>
          </div>
          </div>
        </section>
      </header>
    </section>
    <!-- Hero Section End -->
    <!-- Customer Start -->
    <section class="customer_Section container">
      <div class="card p-5 my-5 fw-bold">
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="form6Example1">Customer ID</label>
              <input
                type="text"
                id="form6Example1"
                class="form-control customer_ID"
                placeholder="C001"
              />
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="form6Example1"
                >Customer Name</label
              >
              <input
                type="text"
                id="form6Example1"
                class="form-control customer_Name"
                placeholder="Prabash Perera"
              />
              <span class="error-message name-error"></span>

            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="form6Example2"
                >Mobile Number</label
              >
              <input
                type="number"
                id="form6Example2"
                class="form-control customer_Number"
                placeholder="0704570039"
              />
              <span class="error-message number-error"></span>

            </div>
          </div>
          <div class="row mt-4">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="form6Example2"
                >Customer Address</label
              >
              <input
                type="text"
                id="form6Example2"
                class="form-control customer_Address"
                placeholder="11/6 Blasius Raad Moratuwa / Indibeda"
              />
              <span class="error-message address-error"></span>

            </div>
          </div>
          <div class="row">
            <div class="btn-group gap-3 w-50 mt-5">
              <div class="btn btn-pink customer_Save_Clicked">Add</div>
              <div class="btn btn-primary customer_Update_Clicked">Update</div>
              <div class="btn btn-danger customer_Remove_Clicked">Remove</div>
              <div class="btn btn-outline-info customer_Refresh_Clicked">
                Refresh
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Customer Records Table -->
      <section class="card p-5 border-black">
        <table class="table align-middle table-striped table-bordered">
          <thead class="table-head">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Number</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody class="customer_Table"></tbody>
        </table>
      </section>
    </section>
    <!-- Customer Start -->
    <!-- Item Start  -->
    <section class="items_Section container">
      <div class="card p-5 my-5 fw-bold">
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="form6Example1">Item ID</label>
              <input
                type="text"
                id="form6Example1"
                class="form-control item_ID"
                placeholder="I001"
              />
              <span class="error-message item-id-error"></span>

            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="form6Example1">Item Name</label>
              <input
                type="text"
                id="form6Example1"
                class="form-control item_Name"
                placeholder="Marie Biscuit"
              />
              <span class="error-message item-name-error"></span>

            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="form6Example2">Item Price</label>
              <input
                type="number"
                id="form6Example2"
                class="form-control item_Price"
                placeholder="1400.00"
              />
              <span class="error-message item-price-error"></span>

            </div>
          </div>
          <div class="row mt-4">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="form6Example2">Item Qty</label>
              <input
                type="number"
                id="form6Example2"
                class="form-control item_Qty"
                placeholder="200"
              />
              <span class="error-message item-qty-error"></span>

            </div>
          </div>
          <div class="row">
            <div class="btn-group gap-3 w-50 mt-5">
              <div class="btn btn-pink item_Save_Clicked">Add</div>
              <div class="btn btn-primary item_Update_Clicked">Update</div>
              <div class="btn btn-danger item_Remove_Clicked">Remove</div>
              <div class="btn btn-outline-info item_Refresh_Clicked">
                Refresh
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Customer Records Table -->
      <section class="card p-5 border-black">
        <table class="table align-middle table-striped table-bordered">
          <thead class="table-head">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Item Name</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
            </tr>
          </thead>
          <tbody class="item_Table"></tbody>
        </table>
      </section>
    </section>
    <!-- Item End -->
    <!-- Order Start -->
    <section class="orders_Section container fw-bold">
      <main class="row gap-3 mt-4">
        <section class="col card order-card">
          <div class="row p-4">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Order ID</label>
                <input
                  type="text"
                  id="form6Example1"
                  class="form-control order_ID"
                  placeholder="ORD001"
                />
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Order Date</label>
                <input
                  type="date"
                  id="form6Example1"
                  class="form-control order_Date"
                />
              </div>
            </div>
          </div>
          <!-- Row -->
          <div class="row px-4">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Customer</label>
                <br />
                <button style="width: 270px" data-toggle="modal" data-target="#exampleModal" class="btn btn-pink order_Customer_ID findCustomer-Modal">
                  FIND
                </button>
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Customer Name</label>
                <input
                  type="text"
                  id="form6Example1"
                  class="form-control order_Customer_Name"
                  placeholder="Prabash Perera"
                />
              </div>
            </div>
          </div>
          <div class="row px-4 py-4">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Customer Address</label>
                <input
                  type="text"
                  id="form6Example1"
                  class="form-control order_Customer_Address"
                  placeholder="11/6 Blasius Road Moratuwa"
                />
              </div>
            </div>
          </div>
          </div>
        </section>
        <section class="col card">
          <div class="row px-4 py-4">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Item ID</label> <br>
                <button style="width: 260px;"  data-bs-toggle="modal" data-bs-target="#item-Modal" class="btn btn-pink order_Item_ID">FIND</button>
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Item Name</label>
                <input type="text" class="form-control order_Item_Name" placeholder="Vigen Smack" />
              </div>
            </div>
          </div>
        
          <div class="row px-4 py-4">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Item Price</label>
                <input type="number" class="form-control order_Item_Price" placeholder="350.00" />
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Item Qty</label>
                <input required type="number" class="form-control ordered_QTY" placeholder="30" />
                <label class="fw-normal mt-3 text-muted" for="">Available QTY : </label>
                <label for="" class="fw-semibold order_Item_Qty">0</label>
              </div>
            </div>
          </div>
        
          <div class="row py-2 px-4">
            <div class="col">
              <button style="width: 100%;" class="btn btn-pink order_Add_Item">Add Item</button>
            </div>
          </div>
        </section>        
      </main>
      <!-- TODO: Purchase Section -->
      <div class="row mt-4">
        <div style="min-height: 200px;" class="col card">
          <div class="row px-4 py-4">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Cash</label>
                <input
                type="number"
                id="form6Example1"
                class="form-control order_Cash"
                placeholder="3500.00"
              />
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Discount</label>
                <input
                  type="number"
                  id="form6Example1"
                  class="form-control order_Discount onTypeDiscount"
                  placeholder="10%"
                />
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <label class="form-label" for="form6Example1">Balance</label>
                <input
                  type="number"
                  id="form6Example1"
                  class="form-control order_Balance"
                  placeholder="3000.00"
                />
              </div>
            </div>
            <div class="row py-5">
              <div class="col">
                <button style="width: 100%;" class="btn btn-primary order_Purchase_Clicked">Purchase</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Order Details Table -->
      <section class="card mt-4 p-5 border-black order-detail-table">
        <table class="table align-middle table-striped table-bordered">
          <thead class="table-head">
            <tr>
              <th scope="col">Item ID</th>
              <th scope="col">Item Name</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
            </tr>
          </thead>
          <tbody class="order_Item_Table"></tbody>
        </table>
      </section>
      <!-- Order Details Table END -->

      <!-- FIND CUSTOMER -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Customer Records</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
              <section class="card p-5 border-black">
                <table class="table align-middle table-striped table-bordered">
                  <thead class="table-head">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Number</th>
                      <th scope="col">Address</th>
                    </tr>
                  </thead>
                  <tbody class="customer_Table"></tbody>
                </table>
              </section>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button style="width: 200px;" type="button" class="btn btn-pink">Select</button>
            </div>
          </div>
        </div>
      </div>
            <!-- FIND CUSTOMER -->
      <!-- FIND Item -->
      <!-- Button trigger modal -->
      <!-- Modal -->
      <div class="modal modal-item fade" id="item-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Customer Records</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
              <section class="card p-5 border-black">
                <table class="table align-middle table-striped table-bordered">
                  <thead class="table-head">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Item Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Qty</th>
                    </tr>
                  </thead>
                  <tbody class="item_Table"></tbody>
                </table>
              </section>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button style="width: 200px;" type="button" class="btn btn-pink">Select</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Order END -->
    <!-- Order Details Start -->
    <section class="order_Detail_Section">
      <div class="order_details">Hello Details</div>
    </section>
    <!-- Order Details END -->
    <!-- Scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    <script src="../script.js"></script>
    <script type="module" src="../controller/CustomerController.js"></script>
    <script type="module" src="../controller/ItemController.js"></script>
    <script type="module" src="../controller/OrderController.js"></script>
  </body>
</html>
