<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>POS System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alatsi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR SECTION -->
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <a class="brandName navbar-brand fw-bold mx-5" href="#">POS System</a>
        <button
          class="navbar-toggler navbar-dark"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-center w-100 gap-5">
            <li class="nav-item">
              <a
                class="nav-link active home_Clicked"
                aria-current="page"
                href="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link customer_Clicked" href="#">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link item_Clicked" href="#">Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link order_Clicked" href="#">Orders</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- NAVBAR SECTION -->
    <!-- Home Section -->
    <section class="homePage_Section">
      <h1>Home Page</h1>
    </section>
    <!--  -->
    <!--TODO: Customer Section -->
    <section class="customer_Section">
      <section class="container hero position-relative mt-4">
        <main class="p-4">
          <form class="customer-form d-flex gap-4">
            <section>
              <div>
                <label for="" class="d-block my-2">Customer ID</label>
                <input
                  class="customer_id_input customer_ID"
                  type="text"
                  placeholder="C001"
                />
              </div>
              <div>
                <label for="" class="d-block my-2">Customer Name</label>
                <input
                  class="customer_Name"
                  type="text"
                  placeholder="Kamal Fernando"
                />
              </div>
            </section>
            <section>
              <div>
                <label for="" class="d-block my-2">Customer Address</label>
                <input
                  class="customer_Address"
                  type="text"
                  placeholder="11/6 Blasius Road"
                />
              </div>
              <div>
                <label for="" class="d-block my-2">Mobile Number</label>
                <input
                  class="customer_Number"
                  type="text"
                  placeholder="0704570029"
                />
              </div>
            </section>
            <!-- Search Customer -->
            <section class="mx-5">
              <div class="mx-5">
                <label for="" class="d-block my-2">Search Customer</label>
                <input type="text" placeholder="Kasun" />
                <button class="btn btn-outline-danger search-btn">
                  Search
                </button>
              </div>
            </section>
            <!-- btns -->
          </form>
          <section class="btn-group crud-customer-btn-grp gap-3">
            <button class="btn btn-success customer_Save_Clicked">Save</button>
            <button class="btn btn-danger customer_Remove_Clicked">
              Remove
            </button>
            <button class="btn btn-primary customer_Update_Clicked">
              Update
            </button>
            <button class="btn btn-outline-warning customer_Refresh_Clicked">
              Refresh
            </button>
          </section>
        </main>
      </section>

      <!-- Table Section -->
      <section class="container customer-table-section">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Customer Address</th>
              <th scope="col">Mobile number</th>
            </tr>
          </thead>
          <tbody class="customer_Table">
            <tr></tr>
          </tbody>
        </table>
      </section>
    </section>

    <!--TODO: ITEM Section  -->
    <section class="items_Section">
      <section class="container hero position-relative mt-4">
        <main class="p-4">
          <form class="customer-form d-flex gap-4">
            <section>
              <div>
                <label for="" class="d-block my-2">Item ID</label>
                <input
                  class="customer_id_input item_ID"
                  type="text"
                  placeholder="I001"
                />
              </div>
              <div>
                <label for="" class="d-block my-2">Item Name</label>
                <input class="item_Name" type="text" placeholder="Samba Haal" />
              </div>
            </section>
            <section>
              <div>
                <label for="" class="d-block my-2">Item Price</label>
                <input class="item_Price" type="text" placeholder="100" />
              </div>
              <div>
                <label for="" class="d-block my-2">Item QTY</label>
                <input class="item_Qty" type="text" placeholder="20" />
              </div>
            </section>
            <!-- Search Customer -->
            <section class="mx-5">
              <div class="mx-5">
                <label for="" class="d-block my-2">Search Item</label>
                <input type="text" placeholder="Kiri Samba" />
                <button class="btn btn-outline-danger search-btn">
                  Search
                </button>
              </div>
            </section>
            <!-- btns -->
          </form>
          <section class="btn-group crud-customer-btn-grp gap-3">
            <button class="btn btn-success item_Save_Clicked">Save</button>
            <button class="btn btn-danger item_Remove_Clicked">Remove</button>
            <button class="btn btn-primary item_Update_Clicked">Update</button>
            <button class="btn btn-outline-warning item_Refresh_Clicked">
              Refresh
            </button>
          </section>
        </main>
      </section>

      <!-- Table Section -->
      <section class="container item-table-section">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Item Name</th>
              <th scope="col">Item Price</th>
              <th scope="col">Item Qty</th>
            </tr>
          </thead>
          <tbody class="item_Table"></tbody>
        </table>
      </section>
    </section>

    <!-- TODO: Order Section -->
    <section class="container hero orders_Section"></section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="../script.js"></script>
    <script type="module" src="../controller/CustomerController.js"></script>
    <script type="module" src="../controller/ItemController.js"></script>
  </body>
</html>
